{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SMBC Viewer</title>
        <script src="{% static 'comic.js' %}"></script>
        <link rel="stylesheet" href="{% static 'comic.css' %}">
    </head>
    <body>
        <div id="comicleft">
            <div id="navtop">
                <nav class="cc-nav" role="navigation">
                    <a class="cc-first" rel="first" href="{% url 'first'%}"></a>
                    {% if page.prev %}<a class="cc-prev" rel="prev" href="{% url 'comic' page.prev %}"></a>{% endif %}
                    <a class="cc-navaux" href="{% url 'random' %}"></a>
                    {% if page.next %}<a class="cc-next" rel="next" href="{% url 'comic' page.next %}"></a>{% endif %}
                    <a class="cc-last" rel="last" href="{% url 'main' %}"></a>
                </nav>
            </div>
            <div id="cc-comicbody">
                <img title="{{ page.title_text }}" src="{{ page.comic.url }}" id="cc-comic">
            </div>
            <div id="navbottom">
                <nav class="cc-nav" role="navigation">
                    <a class="cc-first" rel="first" href="{% url 'first'%}"></a>
                    {% if page.prev %}<a class="cc-prev" rel="prev" href="{% url 'comic' page.prev %}"></a>{% endif %}
                    <a class="cc-navaux" href="{% url 'random' %}"></a>
                    {% if page.next %}<a class="cc-next" rel="next" href="{% url 'comic' page.next %}"></a>{% endif %}
                    <a class="cc-last" rel="last" href="{% url 'main' %}"></a>
                </nav>
                <a id="extracomic" onclick='toggleBlock("aftercomic")' class="mobilehide"></a>
                <div id="aftercomic" onclick='toggleBlock("aftercomic")' style="display:none;" class="mobilehide">
                    <img src='{{ page.bonus.url }}'>
                </div>
            </div>
        </div>
    </body>
</html>