{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SMBC Viewer</title>
        <script src="{% static 'comic.js' %}"></script>
        <link rel="stylesheet" href="{% static 'comic.css' %}">
    </head>
    <body>
        <div id="comicleft">
            <div id="navtop">
                <nav class="cc-nav" role="navigation">
                    {% if nav_names.0 %}<a class="cc-first" rel="first" href="{% url 'comic' nav_names.0 %}"></a>{% endif %}
                    {% if nav_names.1 %}<a class="cc-prev" rel="prev" href="{% url 'comic' nav_names.1 %}"></a>{% endif %}
                    {% if nav_names.2 %}<a class="cc-navaux" href="{% url 'comic' nav_names.2 %}"></a>{% endif %}
                    {% if nav_names.3 %}<a class="cc-next" rel="next" href="{% url 'comic' nav_names.3 %}"></a>{% endif %}
                    {% if nav_names.4 %}<a class="cc-last" rel="last" href="{% url 'comic' nav_names.4 %}"></a>{% endif %}
                </nav>
            </div>
            <div id="cc-comicbody">
                <img title="{{ title_text }}" src="{% static 'data/'|add:name|add:'/comic.png' %}" id="cc-comic">
            </div>
            <div id="navbottom">
                <nav class="cc-nav" role="navigation">
                    {% if nav_names.0 %}<a class="cc-first" rel="first" href="{% url 'comic' nav_names.0 %}"></a>{% endif %}
                    {% if nav_names.1 %}<a class="cc-prev" rel="prev" href="{% url 'comic' nav_names.1 %}"></a>{% endif %}
                    {% if nav_names.2 %}<a class="cc-navaux" href="{% url 'comic' nav_names.2 %}"></a>{% endif %}
                    {% if nav_names.3 %}<a class="cc-next" rel="next" href="{% url 'comic' nav_names.3 %}"></a>{% endif %}
                    {% if nav_names.4 %}<a class="cc-last" rel="last" href="{% url 'comic' nav_names.4 %}"></a>{% endif %}
                </nav>
                <a id="extracomic" onclick='toggleBlock("aftercomic")' class="mobilehide"></a>
                <div id="aftercomic" onclick='toggleBlock("aftercomic")' style="display:none;" class="mobilehide">
                    <img src='{% static 'data/'|add:name|add:'/bonus.png' %}'>
                </div>
            </div>
        </div>
    </body>
</html>