{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>SMBC Viewer</title>
        <script src="{% static 'comic.js' %}"></script>
        <link rel="stylesheet" href="{% static 'comic.css' %}">
    </head>
    <body>
        <div id="comicleft">
            <div id="navtop">
                <nav class="cc-nav" role="navigation">
                    <a class="cc-first" rel="first" href="{% url 'first'%}"></a>
                    {% if prev_name %}<a class="cc-prev" rel="prev" href="{% url 'comic' prev_name %}"></a>{% endif %}
                    <a class="cc-navaux" href="{% url 'random' %}"></a>
                    {% if next_name %}<a class="cc-next" rel="next" href="{% url 'comic' next_name %}"></a>{% endif %}
                    <a class="cc-last" rel="last" href="{% url 'main' %}"></a>
                </nav>
            </div>
            <div id="cc-comicbody">
                <div onclick="showComic()" id="hidden" {% if not hide %}style="display: none"{% endif %}>This comic was hidden.</div>
                <img title="{{ title_text }}" src="{{ comic_image_link }}" id="cc-comic" {% if hide %}style="display: none"{% endif %}>
            </div>
            <div id="navbottom">
                <nav class="cc-nav" role="navigation">
                    <a class="cc-first" rel="first" href="{% url 'first'%}"></a>
                    {% if prev_name %}<a class="cc-prev" rel="prev" href="{% url 'comic' prev_name %}"></a>{% endif %}
                    <a class="cc-navaux" href="{% url 'random' %}"></a>
                    {% if next_name %}<a class="cc-next" rel="next" href="{% url 'comic' next_name %}"></a>{% endif %}
                    <a class="cc-last" rel="last" href="{% url 'main' %}"></a>
                </nav>
                <a id="extracomic" onclick='toggleBlock("aftercomic")' class="mobilehide"></a>
                <div id="aftercomic" onclick='toggleBlock("aftercomic")' style="display:none;" class="mobilehide">
                    <img src='{{ bonus_image_link }}'>
                </div>
            </div>
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <input type="submit" value="Save">
            </form>
        </div>
    </body>
</html>